REMO_BROKER_PROTOCOL_VERSION={{ remo_broker_protocol_version }}
REMO_BROKER_ADMIN_SOCKET={{ remo_broker_admin_socket }}
REMO_BROKER_SOCKET_DIR={{ remo_broker_socket_dir }}
REMO_BROKER_PROJECTS_DIR={{ remo_broker_projects_dir }}
REMO_BROKER_AUDIT_LOG={{ remo_broker_audit_log }}
REMO_BROKER_CONFIG={{ remo_broker_config_path }}
REMO_BROKER_BINARY={{ remo_broker_binary_path }}
