---
# AWS Server Role - Main Task Entry Point
# Creates EC2 instance and supporting resources

- name: Run preflight checks
  ansible.builtin.include_tasks: preflight.yml

- name: Create security group
  ansible.builtin.include_tasks: security_group.yml

- name: Create EC2 instance
  ansible.builtin.include_tasks: ec2.yml

- name: Create and attach EBS volume
  ansible.builtin.include_tasks: ebs.yml
  when: (aws_access_mode | default('ssm')) != 'ssm'

- name: Create Elastic IP
  ansible.builtin.include_tasks: elastic_ip.yml
  when:
    - aws_create_eip | bool
    - (aws_access_mode | default('ssm')) != 'ssm'

- name: Create Route53 DNS record
  ansible.builtin.include_tasks: route53.yml
  when:
    - aws_create_dns | bool
    - (aws_access_mode | default('ssm')) != 'ssm'
